// theme
// @media (prefers-color-scheme: light) {
  body {
    --color-background: #{$white};
    --color-header: #{$white};
    --color-section: initial;
    --color-footer: #{$white};

    --color-text: #{$grey-5};
    --color-text-faint: #{$grey-20};
    --color-text-emp: #{$black};
    --color-text-link: #{$blue};
    --color-border: #{$grey-75};
    --color-border-emp: #{$sky};

    --color-button: #{$grey-95};
    --color-button-float: #{$white};
    --color-deactive: #{$grey-90};
    --color-input: #{$grey-95};
    --color-input-autofill: #e0ebff;

    --color-box-grey: #{$grey-95};
    --color-box-blue: aliceblue;
    --color-box-antique: antiquewhite;
    --color-box-emp: rgba(41, 205, 255, 0.15);

    --color-light: #{$white};
  }
// }

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
header {
  background-color: var(--color-header);
}
section {
  background-color: var(--color-section);
}
footer {
  background-color: var(--color-footer);
}