@charset "UTF-8";
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 100;
  font-style: normal;
  src: url("fonts/NotoSans-Thin.eot?") format("eot"), url("fonts/NotoSans-Thin.otf") format("opentype"), url("fonts/NotoSans-Thin.woff") format("woff"), url("fonts/NotoSans-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 200;
  font-style: normal;
  src: url("fonts/NotoSans-Light.eot?") format("eot"), url("fonts/NotoSans-Light.otf") format("opentype"), url("fonts/NotoSans-Light.woff") format("woff"), url("fonts/NotoSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/NotoSans-DemiLight.eot?") format("eot"), url("fonts/NotoSans-DemiLight.otf") format("opentype"), url("fonts/NotoSans-DemiLight.woff") format("woff"), url("fonts/NotoSans-DemiLight.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/NotoSans-Regular.eot?") format("eot"), url("fonts/NotoSans-Regular.otf") format("opentype"), url("fonts/NotoSans-Regular.woff") format("woff"), url("fonts/NotoSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/NotoSans-Medium.eot?") format("eot"), url("fonts/NotoSans-Medium.otf") format("opentype"), url("fonts/NotoSans-Medium.woff") format("woff"), url("fonts/NotoSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/NotoSans-Black.eot?") format("eot"), url("fonts/NotoSans-Black.otf") format("opentype"), url("fonts/NotoSans-Black.woff") format("woff"), url("fonts/NotoSans-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  font-style: normal;
  src: url("fonts/NotoSans-Bold.eot?") format("eot"), url("fonts/NotoSans-Bold.otf") format("opentype"), url("fonts/NotoSans-Bold.woff") format("woff"), url("fonts/NotoSans-Bold.woff2") format("woff2");
}
@media (prefers-color-scheme: light) {
  body {
    --color-background: rgb(242, 242, 242);
    --color-header: rgba(255,255,255, 0.65);
    --color-section: #ffffff;
    --color-footer: #ffffff;
    --color-text: rgb(13, 13, 13);
    --color-text-faint: rgb(38, 38, 38);
    --color-text-emp: #000000;
    --color-text-link: #21abff;
    --color-border: rgb(191, 191, 191);
    --color-border-emp: #29cdff;
    --color-button: rgb(242, 242, 242);
    --color-button-float: #ffffff;
    --color-deactive: rgb(230, 230, 230);
    --color-input: white;
    --color-input-autofill: #e0ebff;
    --color-box-grey: rgb(242, 242, 242);
    --color-box-blue: aliceblue;
    --color-box-antique: antiquewhite;
    --color-box-emp: rgba(41, 205, 255, 0.15);
    --color-light: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --color-background: rgb(26, 26, 26);
    --color-header: rgba(0,0,0, 0.65);
    --color-section: rgb(38, 38, 38);
    --color-footer: rgba(0,0,0, 0.65);
    --color-text: rgb(204, 204, 204);
    --color-text-faint: rgb(166, 166, 166);
    --color-text-emp: #ffffff;
    --color-text-link: #21abff;
    --color-border: rgb(89, 89, 89);
    --color-border-emp: #29cdff;
    --color-button: rgb(13, 13, 13);
    --color-button-float: rgb(13, 13, 13);
    --color-deactive: rgb(13, 13, 13);
    --color-input: #000000;
    --color-input-autofill: #0d2a2b;
    --color-box-grey: rgb(26, 26, 26);
    --color-box-blue: #0f1a24;
    --color-box-antique: #24170f;
    --color-light: rgb(64, 64, 64);
  }
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
}

header {
  background-color: var(--color-header);
}

section {
  background-color: var(--color-section);
}

footer {
  background-color: var(--color-footer);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  word-break: break-all;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

header, footer, nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}

main,
article,
section {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  position: relative;
  width: 0;
}

#message {
  width: 100%;
  z-index: 999;
}
#message .log {
  padding: 5px 10px;
  background-color: gray;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}
#message .log.info {
  background-color: #5f5fff;
}
#message .log.success {
  background-color: green;
}
#message .log.error {
  background-color: red;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

table {
  border-collapse: collapse;
}
table * {
  font-size: 1rem;
}
table th, table td {
  padding: 5px;
}
table th.flex, table th.flex-row, table td.flex, table td.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
table th.flex-column, table td.flex-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  flex-wrap: nowrap;
}
table th {
  text-align: center;
  white-space: nowrap;
}
table td {
  text-align: left;
}
table td.hr::before {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}
table input[type=text],
table input[type=number],
table input[type=password],
table input[type=email],
table textarea {
  width: 100%;
}
table textarea {
  min-height: 120px;
  resize: none;
}

.btn,
button,
input[type=submit],
input[type=button],
input[type=reset] {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  cursor: pointer;
  color: inherit;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.12;
  white-space: nowrap;
  padding: 8px 12px;
  min-width: 112px;
  background-color: var(--color-button);
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  overflow: hidden;
}
.btn:hover, .btn:active, .btn:focus,
button:hover,
button:active,
button:focus,
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=button]:hover,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:hover,
input[type=reset]:active,
input[type=reset]:focus {
  color: var(--color-text-emp);
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 24px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.1);
}
.btn:disabled,
button:disabled,
input[type=submit]:disabled,
input[type=button]:disabled,
input[type=reset]:disabled {
  background-color: var(--color-button);
  color: inherit;
  opacity: 0.5;
  pointer-events: none;
}

.btn.inline {
  font-size: 0.9rem;
  padding: 6px 8px;
  min-width: 96px;
}
.btn.min {
  font-size: 0.9rem;
  padding: 6px 8px;
  min-width: initial;
}
.btn.min:empty {
  min-width: 47.5px;
  min-height: 32px;
}
.btn.none {
  padding: 0;
  border: none;
  background-color: initial;
  box-shadow: none;
  text-shadow: none;
  min-width: initial;
  line-height: inherit;
}
.btn.icon {
  min-width: initial;
}
.btn.float {
  text-align: center;
  background-color: initial;
  width: 42px;
  height: 42px;
  padding: 9px;
  min-width: initial;
  border-radius: 50%;
  font-size: 1.25rem;
  box-shadow: none !important;
}
.btn.close {
  text-align: center;
  background-color: initial;
  width: 42px;
  height: 42px;
  padding: 9px;
  min-width: initial;
  border-radius: 50%;
  font-size: 1.25rem;
  box-shadow: none !important;
}
.btn.red {
  background-color: #ff4200;
  color: white;
}
.btn.red:hover {
  color: white;
}
.btn.green, .btn.active {
  background-color: #34c234;
  color: white;
}
.btn.green:hover, .btn.active:hover {
  color: white;
}
.btn.blue {
  background-color: #21abff;
  color: white;
}
.btn.blue:hover {
  color: white;
}

input[type=text],
input[type=number],
input[type=password],
input[type=email],
select, textarea {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  padding: 5px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 6px;
  background-color: var(--color-input);
  color: var(--color-text);
}
input[type=text]:focus-visible,
input[type=number]:focus-visible,
input[type=password]:focus-visible,
input[type=email]:focus-visible,
select:focus-visible, textarea:focus-visible {
  border: 1px solid var(--color-border-emp);
  outline: 1px solid #0072ff;
  box-shadow: 0 0 6px #0014ff;
}

input[readonly],
input[disabled] {
  background-color: var(--color-deactive);
  opacity: 0.75;
  color: var(--color-text-faint);
}
input[readonly]:focus-visible,
input[disabled]:focus-visible {
  border: 1px solid rgb(128, 128, 128);
  outline: none;
  box-shadow: none;
}

input[type=radio],
input[type=checkbox] {
  background-color: var(--color-input);
  cursor: pointer;
  margin-right: 5px;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.15rem;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  caret-color: var(--color-text);
  -webkit-text-fill-color: var(--color-text);
  box-shadow: inset 0 0 0 1000px var(--color-input-autofill);
}
input:-webkit-autofill:focus-visible, textarea:-webkit-autofill:focus-visible, select:-webkit-autofill:focus-visible {
  box-shadow: inset 0 0 0 1000px var(--color-input-autofill), 0 0 6px #0014ff;
}

label {
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  margin-right: 5px;
  white-space: nowrap;
}

i {
  position: relative;
}

p.red, b.red, span.red, a.red, label.red,
h1.red, h2.red, h3.red, h4.red, h5.red, h6.red {
  color: red;
}
p.green, b.green, span.green, a.green, label.green,
h1.green, h2.green, h3.green, h4.green, h5.green, h6.green {
  color: green;
}
p.blue, b.blue, span.blue, a.blue, label.blue,
h1.blue, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue {
  color: #5f5fff;
}

b[class*=" xi-"]:before, b[class^=xi-]:before, span[class*=" xi-"]:before, span[class^=xi-]:before, a[class*=" xi-"]:before, a[class^=xi-]:before, label[class*=" xi-"]:before, label[class^=xi-]:before, .btn[class*=" xi-"]:before, .btn[class^=xi-]:before {
  font-family: "xeicon";
  margin-right: 5px;
  font-size: 1.15rem;
  position: relative;
  top: 0.075rem;
}

p.text-left, span.text-left, a.text-left, label.text-left, .btn.text-left, th.text-left, td.text-left,
h1.text-left, h2.text-left, h3.text-left, h4.text-left, h5.text-left, h6.text-left {
  text-align: left;
}
p.text-center, span.text-center, a.text-center, label.text-center, .btn.text-center, th.text-center, td.text-center,
h1.text-center, h2.text-center, h3.text-center, h4.text-center, h5.text-center, h6.text-center {
  text-align: center;
}
p.text-right, span.text-right, a.text-right, label.text-right, .btn.text-right, th.text-right, td.text-right,
h1.text-right, h2.text-right, h3.text-right, h4.text-right, h5.text-right, h6.text-right {
  text-align: right;
}